#!/sbin/openrc-run
name="Monitor Directory"
description="Monitor a directory"
command="/usr/local/bin/monitor_directory.sh"
command_background=true
pidfile="/run/monitor_directory.pid"
